
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html body{
    font-family: 'poppins', sans-serif;
}


.logomarca{
    width: 100px;
    height: 33px;
    background: url("../imagens/Logo.png") no-repeat 0 0;
    display: block;
}

.logo {
    float: left;
}

.menu {
    float: right;
}

.menu_li {
    float: left;
    margin: 0 10px;
  
}
.menu__link{
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
}

.clear{
    clear: both;s
}

.center{
    width: 1110px;
    margin: 0 auto;

}

.apresentaçao {
background: url(../imagens/background.jpg) no-repeat center;
padding-top: 40px;


}

.bt-signin {
    border: 1px solid #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;padding: 10px 30px;
    border-radius: 4px;
    margin-left: 30px;

}
.bt-signup{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;padding: 10px 30px;
    background: #3F3F3F;
}

.apres_box{

    padding-top: 100px;

}

.title-apresentacao {
    font-family: "poppins" sans-serif;
    font-size: 44px;
    color: #3B3322;
    line-height: 48px;
}

.title-apresentacao strong {
    font-weight: 600;
}

.texto-apresentacao {
    color: #544837;
    font-size: 18px;
    line-height: 24px;
    margin: 40px 0 30px 0;
}

.caixa-texto{
    width: 50%;
    float: left;
    padding-top: 60px;
}

.apresentacao-video{
    float: left;
    width: 50%;
}


.btn-get{
    background: #FF4F4F;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 4px;
    display:inline-block;
    
    
}

.apresentacao-video{
    float: left;
    width: 50%;
}